<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-4">
    <h2 id="choose_problem" class="title">Elige un problema</h2>
    <% @teams.each do |team| %>
      <div class="card tag-form text-xs-center" id="team-<%= team.id %>">
        <div class="card-block">
          <h4 class="card-title"><%= team.name %></h4>
        </div>
        <% if team.leader %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item draft-team-list">
              <h6 class="card-subtitle text-muted">LEADER</h6>
              <%= image_tag(team.leader.picture_url, class:"img-circle img-fluid") %>
              <p class="card-text"><%= team.leader.name %></p>
            </li>
            <li class="list-group-item draft-team-list">
              <%= link_to "<i class='draft-check'></i>".html_safe,
              event_pick_team_path(current_event, team),
              method: :post, data: { confirm: "¿Estás seguro que eliges al equipo #{team.name}?" },
              class: 'btn btn-primary btn-xs invitation-btn' %>
            </li>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
