<div class="row">
  <div class="col-xs-12 col-md-3 col-md-offset-1">
    <h2 class="title">Lista de espera</h2>
    <div class="card tag-form">
      <ul class="list-group list-group-flush">
        <% @attendees.order(:created_at).each do |attendee| %>
        <li class="list-group-item draft-team-list">
          <%= image_tag(attendee.user.picture_url, class:"img-circle img-fluid") %>
          <h6 class="card-title"><%= attendee.user.name %></h6>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <h2 class="title">Lista de equipos</h2>
    <% @teams.where(event: current_event).each do |team| %>
      <div class="card tag-form text-xs-center" id="team-<%= team.id %>">
        <div class="card-block">
          <h4 class="card-title"><%= team.name %></h4>
        </div>
        <ul class="list-group list-group-flush">
          <% team.users.each do |user| %>
            <li class="list-group-item draft-team-list">
              <%= image_tag(user.picture_url, class:"img-circle img-fluid") %>
              <h6 class="card-text"><%= user.name %></h6>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
