<h2>Estas son tus invitaciones sin aceptar</h2>

<% current_user.invitations.where(status: :pending).each do |i| %>
  <div class="card card-block card-form" id="invitation-<%= i.id %>">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <%= attachment_image_tag(i.event, :image, class:"card-img-top img-fluid") %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        <h3><%= i.event.name %></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <p><%= i.event.starts_at.strftime("%d / %b / %Y") %></p>
        <p><%= i.event.starts_at.strftime("%H:%M") %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-2">
        <%= link_to 'Si voy a ir', accept_invitations_path(i),
                      remote: true, method: :post, class: 'btn btn-success btn-xs' %>      </div>
      <div class="col-xs-4">
        <%= link_to 'No voy a ir', reject_invitations_path(i),
                      remote: true, method: :post, class: 'btn btn-danger btn-xs' %>      </div>
    </div>
  </div>
<% end %>
