<% content_for :title, 'Invitaciones Pendientes' %>
<h2 class="title">Invitaciones pendientes</h2>

<% @invitations.each do |invitation| %>
  <div class="card card-form invitation" id="invitation-<%= invitation.id %>">
    <div class="card-block">
      <h4 class="card-title"><%= invitation.event.name %></h4>
      <h6 class="card-subtitle text-muted"><%= invitation.event.starts_at.strftime("%d de %b del %Y @ %H:%M PM") %></h6>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= attachment_image_tag(invitation.event, :image, class:"card-img-top img-fluid") %>
      </div>
    </div>
    <div class="card-block">
    <div class="row">
      <div class="col-sm-6">
        <%= link_to "<i class='draft-times'></i> Rechazar".html_safe, reject_invitations_path(invitation),
                    method: :post, class: 'btn btn-danger btn-sm invitation-btn' %>
      </div>
      <div class="col-sm-6">
        <%= link_to "<i class='draft-check'></i> Aceptar".html_safe, accept_invitations_path(invitation),
                    method: :post, class: 'btn btn-success btn-sm invitation-btn' %>
      </div>
    </div>
  </div>
  </div>
<% end %>
