<div class="container">
  <%= form_tag "/auth/identity/register" do %>
    <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
    <% if @identity && @identity.errors.any? %>
      <div class="error_messages">
        <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
        <ul>
        <% @identity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
          <div class="field">
            <%= label_tag :name %><br>
            <%= text_field_tag :name, @identity&.name %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
          <div class="field">
            <%= label_tag :email %><br>
            <%= email_field_tag :email, @identity&.email %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
          <div class="field">
            <%= label_tag :password %><br>
            <%= password_field_tag :password %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
          <div class="field">
            <%= label_tag :password_confirmation %><br>
            <%= password_field_tag :password_confirmation %>
          </div>
        </div>
      </div>
      <div class="row btn-space">
        <div class="col-sm-6 col-sm-offset-3">
          <%= submit_tag "Register", class:"btn btn-success btn-block" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
